/* ------------- Global ----------- */

/* wrap preformatted text */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding-left: 1em;
}

/* accessible RAG chips */
span.v-chip.theme--light.red {
  background-color: rgb(254, 216, 216) !important;
  color: rgb(95, 28, 30) !important;
}

span.v-chip.theme--light.orange {
  background-color: rgb(247, 234, 187) !important;
  color: rgb(80, 37, 22) !important;
}

span.v-chip.theme--light.green {
  background-color: rgb(201, 237, 194) !important;
  /* color: rgb(18, 39, 14) !important; */
  color: hsl(110, 54%, 18) !important;
}

/* --------- Misc. classes -------- */

.debug {
  border: 1px dashed yellowgreen;
}

/* turn off bullets */
.no-bullet {
  list-style-type: none !important;
}

/* preserve line-breaks */
.breaks {
  white-space: pre-wrap;
}

/* pretty pseudocode in questions */
.code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #ef7a85;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/* subtract navbar height from fill-height containers */
#nav-fix {
  position: relative;
  top: -58px !important;
}

/* --------- Icon colours --------- */
.ico-blue {
  color: #0099cc;
}

.ico-light-pink {
  color: #f9b9b7;
}

.ico-red {
  color: #f44336;
}

.ico-green {
  color: #4caf50;
}

.ico-grey {
  color: #bdbdbd;
}

/* -------- Headway widget -------- */

#HW_badge {
  background: #ef7a85 !important;
  color: #ffffff;
}

.ico-btn {
  height: 24px !important;
  width: 24px !important;
}
