/* ------------- Global ----------- */

/* wrap preformatted text */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding-left: 1em;
}

/* accessible RAG chips */
span.v-chip.theme--light.red {
  background-color: #ffd9dc !important;
  color: #40000c !important;
}

span.v-chip.theme--light.orange {
  background-color: #ffe089 !important;
  color: #765b00 !important;
}

span.v-chip.theme--light.green {
  background-color: rgb(201, 237, 194) !important;
  color: hsl(110, 54%, 18) !important;
}

/* --------- Misc. classes -------- */

.debug {
  border: 1px dashed yellowgreen;
}

.no-bullet {
  list-style-type: none !important;
}

/* preserve line-breaks */
.breaks {
  white-space: pre-wrap;
}

/* pretty pseudocode in questions */
.code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #ef7a85;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.modal-text {
  color: #41484d;
}

/* subtract navbar height from fill-height containers */
#nav-fix {
  position: relative;
  top: -58px !important;
}

/* fix issue with overlay not rounded enough */
.v-dialog {
  border-radius: 24px !important;
}
