/* ------------- Global ----------- */

/* wrap preformatted text */
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* don't underline links */
a:link {
  text-decoration: none;
}

/* colour student answers */
#ans {
  background: #f7eabb;
}

/* thin divider under app-bar */
#nav {
  border-bottom: 1px solid #e3dede !important;
}

/* --------- Teacher home --------- */

.bordered {
  border-top: 4px solid #b7d1da !important;
}

/* --------- Misc. classes -------- */

.debug {
  border: 1px dashed yellowgreen;
}

/* turn off bullets */
.no-bullet {
  list-style-type: none !important;
}

/* preserve line-breaks */
.breaks {
  white-space: pre-wrap;
}

/* don't wrap words in card titles */
.no-wrap {
  word-break: normal !important;
}

/* pretty pseudocode in questions */
.code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #ef7a85;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

/* extend static pages clear of footer */
.static-page-container {
  margin-bottom: 8em;
}

/* -------- Modal dialogs --------- */

.modal > .v-card__actions {
  background: hsl(228, 25%, 92%);
}

.danger > .v-card__actions {
  background: hsl(0, 25%, 94%);
}
