// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

// N.B. Don't override text heading colours
// (this will break light/dark mode

// Don't underline links
a:link {
  text-decoration: none;
}

// Don't capitalise buttons
$btn-text-transform: 'capitalize';

// Stop svg icons appearing massive until svg-core css is loaded
.svg-inline--fa {
  display: inline-block;
  height: 1em;
}
